div{
  margin:10px 0px 5px 100px;
}
ul{
  list-style-type:none;
  height:200px;
}
li{
  position:relative;
  top:100px;
  display:inline-block;
  background-color:red;
  margin:2px;
  width:10px;
  padding:0px;
}
#num-in{
  display:inline;
  border:1px solid grey;
  height:26px;
  font-size:18px;
  margin-left:20px;
}
