div{
  margin:10px 0px 5px 100px;
}
ul{
  list-style-type:none;
  display:inline-block;
}
li{
  display:inline;
  background-color:red;
  color:#ffffff;
  font-size:18px;
  padding:5px;
  margin-left:5px;
}
#num-in{
  display:inline;
  border:1px solid grey;
  height:26px;
  font-size:18px;
  margin-left:20px;
}
